<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings file="keys.config">
    <add key="IotHub.DeviceConnStr" value=""/>
    <add key="IotHub.ServiceConnStr" value=""/>
    <add key="IotHub.RegistryConnStr" value=""/>
  </appSettings>
</configuration>

