<appSettings>
  <!-- Used in a case of IotHub -->
  <add key="IotHub.DeviceId" value="dev01" />
  <add key="IotHub.DeviceConnStr"   value="TODO"/>
  <add key="IotHub.RegistryConnStr" value="TODO"/>
  <add key="IotHub.ServiceConnStr"  value="TODO"/>

  <!-- Used in a case of IotHub 
    When EventHub directly used, we need to provide a name of event hub.
    When IoTHub is used, EventHub behind IoTHub is transparent. Its path is however always 'messages/events'-->
  <add key="IotHub.EventHubPath" value="messages/events"/>

  <!-- Used in a case of EventHub and ServiceBus -->
  <add key="ServiceBus.EventHubPath" value="msbandaccelerator"/>
  <add key="ServiceBus.ServiceConnStr" value="TODO"/>

</appSettings>