<appSettings>
  <!-- Used in a case of IotHub -->
  <add key="IotHub.DeviceId" value="dev01" />
  <add key="IotHub.DeviceConnStr"   value="HostName=daenethub.azure-devices.net;SharedAccessKeyName=device;SharedAccessKey=/eBfoLic7OE6vI/mKD0OhLQn8qDk9mC5Qu0d02OXZpQ="/>
  <add key="IotHub.RegistryConnStr" value="HostName=daenethub.azure-devices.net;SharedAccessKeyName=registryRead;SharedAccessKey=YqvAbMthMOemoh7lufBAO2mL05UdsgEqhWTayq75+Nk="/>
  <add key="IotHub.ServiceConnStr"  value="HostName=daenethub.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=/qnBG7Pz2DnMukxrMkPbnE4ysyftK5cuDkBoLTs49cI="/>

  <!-- Used in a case of IotHub 
    When EventHub directly used, we need to provide a name of event hub.
    When IoTHub is used, EventHub behind IoTHub is transparent. Its path is however always 'messages/events'-->
  <add key="IotHub.EventHubPath" value="messages/events"/>

  <!-- Used in a case of EventHub and ServiceBus -->
  <add key="ServiceBus.EventHubPath" value="msbandaccelerator"/>
  <add key="ServiceBus.ServiceConnStr" value="Endpoint=sb://studentprojects.servicebus.windows.net/;SharedAccessKeyName=serviceread;SharedAccessKey=WW9i+QejdYfIly+L1j0iLexvSw5W7ZoW9TkgMEXE6SM="/>

</appSettings>